<%= link_to "", root_path, :class => "logo" %>

<div id="main-menu">
  <% if current_page?(:controller => 'home', :action => 'index') %>
	 <span id="first-child" class="current">HOME</span>
  <% else %>
	 <%= link_to "HOME", root_path %>
  <% end %>

  <% if current_page?(:controller => 'pages', :action => 'about') %>
	 <span class="current">ABOUT</span>
  <% else %>
	 <%= link_to "ABOUT", :controller => "pages", :action => "about" %>
  <% end %>

  <% if current_page?(:controller => 'pages', :action => 'venue') %>
	 <span class="current">VENUE</span>
  <% else %>
	 <%= link_to "VENUE", :controller => "pages", :action => "venue" %>
  <% end %>
	
  <% if current_page?(:controller => 'pages', :action => 'agenda') %>
	 <span class="current">AGENDA</span>
  <% else %>
	 <%= link_to "AGENDA", :controller => "pages", :action => "agenda" %>
  <% end %>


  <a href="https://docs.google.com/open?id=0B1moK3QU0ZOiQTdwd1lDZnNmNm8" target="_blank">SPONSORSHIP</a>
  
   <a href="https://docs.google.com/document/d/1tujMFeGRaAvgGtNUAkpr5bqKSa6N1f3dylApTg2xvYY/edit" target="_blank">REVIEW</a>
</div>

